body {
    background-color: #79caff;
    font-family: "Montserrat";
    align-content: center;
    align-items: center;
    text-align: center;
}

body {
    background-image: url("banner.png");
    background-repeat: no-repeat;
    background-size: contain;

}

/*.new-super-mario-font-u {
    font-family: "New Super Mario Font U", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;

} */

.montserrat-body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

txt {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: medium;
}

.banner {
    background-color: #79caff50;
}

img {
    width: 320px;
    height: 180px;
}

.images {
    background-color: #00000025;
}

hr {
    width: contain;
}