body {
    background-color: #21205f;
    font-family: 'New Super Mario Font U';
    align-content: center;
    align-items: center;
    text-align: center;
    text-decoration: #ffffff;
}

body {
    background-image: url("banner.png");
    background-repeat: no-repeat;
    background-size: contain;
    text-decoration: #ffffff;
}

.new-super-mario-font-u {
    font-family: "New Super Mario Font U", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-decoration: #ffffff;
}

txt {
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: medium;
    text-decoration: #ffffff;
}

.banner {
    background-color: #79caff50;
}

img {
    width: 320px;
    height: 180px;
}